@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

html,body
{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

.intro
{
	height:100%;
	width:100%;
	margin:auto;
	background-image:url(Images/IMG_162694.jpg);
	display:table;
	top:0;
	background-size:cover;
}

.intro .inner
{
	display: table-cell;
	vertical-align:middle;
	width:100%;
	max-width:none;
}

.content
{
	max-width:800px;
	margin:0 auto;
	text-align:center;
	padding-bottom:18%;
}

.content h1
{
	font-family:'Yantramanav', sams-serif;
	font-size:380%;
	font-weight:100;
	color:#E1EFE9;
	line-height:100%;
}

.btn
{
	font-family:'Montserrat', sams-serif;
	font-size:155%;
	font-weight:400;
	color:#E1EFEF;
	text-transform : uppercase;
	text-decoration:none;
	border: solid #E1EFE9;
	padding:10px 20px;
	border-radius:9 px;
	transition: all 0.5s;
}

.btn:hover
{
	color:#CBDFD6;
	border: solid #CBDFD6 2px;
}


/*--- Media Queries --*/

@media screen and (max-width: 900px) 
{
	.content
	{
		padding-bottom:30%;
	}
	
	.content h1
	{
		font-size:450%		
	}
	
	.btn
	{
		font-size:110%;
		padding:9px 17 px;
	}
}

@media screen and (max-width: 768px) 
{
	.content
	{
		padding-bottom:48%;
	}
	
	.content h1
	{
		font-size:300%		
	}
	
	.btn
	{
		font-size:110%;
		padding:9px 15 px;
	}
}

@media screen and (max-width: 480px) 
{
	.content
	{
		padding-bottom:50%;
	}
	
	.content h1
	{
		font-size:250%		
	}
	
	.btn
	{
		font-size:100%;
		line-height:100%;
	}	
}
